{% extends "show/base.html.twig" %}

{% block title %}List of shows{% endblock %}

{% block content %}

    <div class="card mb-4">
    {% for category in list_categories %}
    <!-- Blog Post -->
        <div>
            {{ category.getName() }}
        </div>
    {% endfor %}
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
        <!-- /.row -->

{% endblock %}
